@inject NavigationManager NavigationManager
<a class="btn btn-light" role="button" href="@($"authentication/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}")" style="position:fixed; bottom:5px;left: 50%; transform: translateX(-50%); z-index:1000; border-radius:50%;">
    <i class="bi bi-person-badge-fill"></i>
</a>